---
import BaseLayout from '../layouts/BaseLayout.astro';
import Slideshow from '../components/Slideshow.astro';
import ProjectGrid from '../components/ProjectGrid.astro';
---

<BaseLayout title="Home" heroHeader={true} description="Welcome to Collaborative Interior Design.">
  <div class="full-bleed">
    <Slideshow />
  </div>


  <style>
    @font-face {
      font-family: 'MontserratMedium';
      src: url('/fonts/Montserrat-Medium.woff') format('woff');
      font-weight: 500;
      font-style: normal;
      font-display: swap;
    }

    @font-face {
      font-family: 'Montserrat';
      src: url('/fonts/Montserrat-Regular.woff2') format('woff2');
      font-weight: 500;
      font-style: normal;
      font-display: swap;
    }

    img {
      border: 0;
      outline: none;
      border-radius: 0;
    }

    /* Break out of BaseLayout padding/margins */
    .full-bleed {
      position: relative;
      width: 100%;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
    }

    html, body {
      margin: 0;
      overflow-x: hidden;
    }



    .two-column-section {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 3rem;
      max-width: 90vw;
      margin: 1rem;
    }

    .two-column-section__image {
      max-height: 80dvh;
      height: auto;
      width: auto;
      max-width: 40vw;
    }

    .two-column-section__content {
      font-family: 'Montserrat', sans-serif; 
      flex: 1 1 45%;
      max-width: 40vw;
      color: #333;
      text-align: left;
    }

    .two-column-section__content h2 {
      font-family: 'MontserratMedium', sans-serif;
      letter-spacing: 0.1em;
      //font-size: clamp(0.25rem, 1.4vw, 4.5rem);
      font-size: clamp(.25rem, 1.3*(.6rem + .35dvw + .2dvh), 4.25rem);
      font-weight: 300;
      margin-bottom: 1rem;
      color: #000;
    }

    .two-column-section__content p {
      //font-size: clamp(0.25rem, .95vw, 2.5rem);
      font-size: clamp(.25rem, .6rem + .35dvw + .2dvh, 4.25rem);
      line-height: 1.6;
      margin-bottom: 2rem;
      color: #666;
    }

    .badges {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      justify-content: flex-start;
    }

    .badges__item img {
      height: clamp(1.75rem, 4.5vw, 4.75rem);
      width: auto;
      display: block;
    }

    .who-we-are {
      background-color: #464646;
      color: #fff;
      width: 100%;
      max-width: 91vw;
      margin: 3rem auto;
      height: clamp(4rem, 20vw, 40rem);
      min-height: 4rem;
      max-height: 40rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 1.5rem;
      padding: 1.5rem;
      box-sizing: border-box;
    }

    .who-we-are h2 {
      letter-spacing: 0.1em;
      font-family: 'Montserrat', sans-serif;
      font-size: clamp(1rem, 2vw, 3rem);
      margin: 0;
      font-weight: 100;
      color: #fff;
    }

    .who-we-are p {
      letter-spacing: 0.075em;
      font-family: 'Montserrat', sans-serif;
      font-size: clamp(0.6rem, 1.8vw, 1.5rem);
      max-width: 70vw;
      margin: 0 auto;
      line-height: 1.6;
      color: #fff;
    }

    @media (max-width: 768px) {
      .two-column-section {
        flex-direction: column;
        text-align: center;
      }

      .two-column-section__image {
        max-width: 80vw;
        height: auto;
      }

      .two-column-section__content {
        flex: 1 1 45%;
        max-width: 80vw;
        padding-left: 1rem;
        color: #333;
        text-align: left;
      }

      .two-column-section__content h2 {
        font-size: clamp(0.5rem, 2.6vw, 3.5rem);
      }

      .two-column-section__content p {
        font-size: clamp(0.25rem, 2vw, 3rem);
      }

      .badges {
        justify-content: center;
      }

      .who-we-are {
        height: auto;
        padding: 3rem 1.5rem;
      }
    }
  </style>

  <!-- "Who We Are" gray box -->
  <section class="who-we-are">
    <h2>WHAT WE DO</h2>
    <p>
      Your home should be a place that looks and feels like a physical expression of you and your family. We help you translate your dreams and ideas into design that is personal.
    </p>
  </section>

  <!-- "Create Your Dream Home" section -->
  <section class="two-column-section">
    <img
      class="two-column-section__image"
      src="/Maine_Cottage_Square.jpg"
      alt="Interior Design Example"
    />

    <div class="two-column-section__content">
      <h2>CREATE YOUR DREAM HOME</h2>
      <p>
        Whether you are working with an architect or builder on a home design, looking to redo a kitchen or bathroom or choosing finishing touches like furniture, lighting, fabrics and colors etc. We are able to help ensure you are getting a beautiful and functional home.
        </br></br>
        We have been working with clients in the Lake Norman and Charlotte area for over eight years with styles ranging from rustic lake front, to urban industrial, to contemporary.
      </p>

      <a href="https://www.houzz.com/badges/user/sandykritzinger" class="badges">
        <div class="badges__item"><img alt="Best of Houzz 2025 - Design" src="https://st.hzcdn.com/res/29172818/pic/badge_66_7@2x.png?v=29172818" /></div>
        <div class="badges__item"><img alt="Best of Houzz 2024 - Design" src="https://st.hzcdn.com/res/29172818/pic/badge_63_7@2x.png?v=29172818" /></div>
        <div class="badges__item"><img alt="Best of Houzz 2024 - Client Satisfaction" src="https://st.hzcdn.com/res/29172818/pic/badge_64_7@2x.png?v=29172818" /></div>
        <div class="badges__item"><img alt="Best of Houzz 2023 - Design" src="https://st.hzcdn.com/res/29172818/pic/badge_59_7@2x.png?v=29172818" /></div>
        <div class="badges__item"><img alt="Best of Houzz 2023 - Client Satisfaction" src="https://st.hzcdn.com/res/29172818/pic/badge_60_7@2x.png?v=29172818" /></div>
        <div class="badges__item"><img alt="Best of Houzz 2022 - Design" src="https://st.hzcdn.com/res/29172818/pic/badge_56_7@2x.png?v=29172818" /></div>
        <div class="badges__item"><img alt="Best of Houzz 2022 - Client Satisfaction" src="https://st.hzcdn.com/res/29172818/pic/badge_57_7@2x.png?v=29172818" /></div>
        <div class="badges__item"><img alt="Best of Houzz 2021 - Design" src="https://st.hzcdn.com/res/29172818/pic/badge_53_7@2x.png?v=29172818" /></div>
        <div class="badges__item"><img alt="Best of Houzz 2021 - Client Satisfaction" src="https://st.hzcdn.com/res/29172818/pic/badge_54_7@2x.png?v=29172818" /></div>
        <div class="badges__item"><img alt="Best of Houzz 2020 - Design" src="https://st.hzcdn.com/res/29172818/pic/badge_48_7@2x.png?v=29172818" /></div>
        <div class="badges__item"><img alt="Best of Houzz 2020 - Client Satisfaction" src="https://st.hzcdn.com/res/29172818/pic/badge_49_7@2x.png?v=29172818" /></div>
        <div class="badges__item"><img alt="Best of Houzz 2019 - Client Satisfaction" src="https://st.hzcdn.com/res/29172818/pic/badge_47_7@2x.png?v=29172818" /></div>
        <div class="badges__item"><img alt="Best of Houzz 2018 - Client Satisfaction" src="https://st.hzcdn.com/res/29172818/pic/badge_44_7@2x.png?v=29172818" /></div>
        <div class="badges__item"><img alt="Houzz Pro Software User" src="https://st.hzcdn.com/res/29172818/pic/badge_52_7@2x.png?v=29172818" /></div>
        <div class="badges__item"><img alt="Recommended on Houzz" src="https://st.hzcdn.com/res/29172818/pic/badge_20_7@2x.png?v=29172818" /></div>
        <div class="badges__item"><img alt="25,000 Ideabook Saves" src="https://st.hzcdn.com/res/29172818/pic/badge_34_7@2x.png?v=29172818" /></div>
      </a>
    </div>
  </section>
  <ProjectGrid />
</BaseLayout>
